{% extends "layout.html" %}

{% block content %}
	<div id='search'>
		<h2>Conheça já seu candidato!</h2>
	  
		<form class="form-inline" role="form" action="{{url_for('result')}}">
			<div class="input-group">
        <input type="text" class="form-control" name='nome' id="termo" placeholder="Nome, partido ou noticias relcionadas ao politico">
        <span class="input-group-btn">
	        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
		</form>
	</div>
{% endblock %}
